In [1]:
import pandas as pd
import os

In [2]:
os.chdir('D:\Datasets\KNN')

In [3]:
df=pd.read_csv('Social_Network_Ads.csv')

In [4]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [5]:
# independant variables - Age & EstimatedSalary
# Dependant variable    - Purchased

In [6]:
X=df[df.columns[:2]]

In [7]:
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [8]:
y=df['Purchased']

In [9]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [12]:
xtrain,xtest,ytrain,ytest=train_test_split(X,y,train_size=0.75,random_state=17)

In [13]:
from sklearn.neighbors import KNeighborsClassifier

In [14]:
# Now before applying the KNN model, scale the data point

In [15]:
from sklearn.preprocessing import MinMaxScaler

In [21]:
scalar=MinMaxScaler()

In [22]:
scalar.fit(xtrain)

MinMaxScaler()

In [23]:
x_scaled_values=scalar.transform(xtrain)

In [19]:
## now values are scaled, we can now train the KNN model

In [20]:
# training the KNN model

In [24]:
model=KNeighborsClassifier()

In [26]:
model.fit(x_scaled_values,ytrain)

KNeighborsClassifier()

In [27]:
## now lets predict the values, but for that we need to scale the test data

In [28]:
x_test_scaled=scalar.transform(xtest)

In [29]:
# now predict the model

In [30]:
model.predict(x_test_scaled)

array([0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0], dtype=int64)

In [31]:
query_point=[[20,30000],
             [40,40000],
             [50,30000],
             [45,50000],
             [30,100000]]

In [33]:
query_point_scaled=scalar.transform(query_point)

C:\Users\amol\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [34]:
model.predict(query_point_scaled)

array([0, 0, 1, 1, 1], dtype=int64)

In [ ]:
'''

final output interpretation:
    person with 20 years and 30000 salary will not able to purchase the car
    person with 40 years and 40000 salary will not able to purchase the car
    person with 50 years and 30000 salary will be able to purchase the car
    person with 45 years and 50000 salary will be able to purchase the car
    person with 30 years and 100000 salary will be able to purchase the car
    
'''