# List Comprehensions

In [1]:
names=['Mrs.Dhumane','Miss.Phale','Miss.Badade','Mrs.Khedkar','Mrs.Kulat']

surnames=[name.split('.')[1] for name in names]
print(surnames)

['Dhumane', 'Phale', 'Badade', 'Khedkar', 'Kulat']

#### Find even numbers

In [11]:
lst1=[1,2,3,4,5,6,7,8,9,10]

even_num=[i for i in lst1 if i%2==0]
print(even_num)

[2, 4, 6, 8, 10]

#### One  more example

In [13]:
A=[[i+j for j in range(3)] for i in range(3)] 
print(A)

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

# Traverse list of tuples

In [14]:
lst=[('Amol',1),('Ashwini',2),('Awaneesh',3)]

In [15]:
for i,j in lst:
    print(i,j)

Amol 1
Ashwini 2
Awaneesh 3

# one more

In [16]:
lst=[('Amol',1,'india'),('Ashwini',2,'Australia'),('Awaneesh',3,'Europe')]

In [17]:
for i,j,k in lst:
    print(i,j,k)

Amol 1 india
Ashwini 2 Australia
Awaneesh 3 Europe