# Map

In [1]:
a=[10.1,20.3,30.7]
x=map(int,a)
for i in x:
    print(i)

10
20
30

#### Example 2

In [3]:
## find squares

lst=[1,2,3,4,5,6,7,8,9,10]

def sq(x):
    return(x*x)

sqs=map(sq, lst)
print(sqs)
for i in sqs:
    print(i)

<map object at 0x000002A9E7740100>
1
4
9
16
25
36
49
64
81
100

In [4]:
## return type of map is an object function which can be typecasted into list

def sqs(x):
    return(x*x)

lst1=[1,2,3,4,5,6,7,8,9,10]
sq_lst=list(map(sqs,lst1))
print(sq_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# filter

In [14]:
lst=[1,2,3,4,5,6,7,8,9,10]
lst1=list(filter(lambda x:x%2==0, lst))

In [15]:
lst1

[2, 4, 6, 8, 10]

#### Example 2

In [35]:
names=['Mr.Patil','Mrs.Jadhav','Miss.Kulkarni','Mr.Pawar','Mrs.Dhumane']
# filter the titles of names

lst2=list(filter(lambda x: x.split('.')[0] in['Mrs','Miss'] ,names))
print(lst2)

['Mrs.Jadhav', 'Miss.Kulkarni', 'Mrs.Dhumane']

# Reduce

#### Exmaple:1

In [38]:
from functools import reduce
lst=[1,2,3,4,5]
val=reduce(lambda x,y:x*y, lst)
print(val)

120

#### Example:2

In [39]:
from functools import reduce
tup=(1,2,3,4,5)
val=reduce(lambda x,y:x*y, tup)
print(val)

120